<section id="<%= dom_id book %>" class="book">
  <table>
    <tbody>
      <tr><th>Title</th><td><%= book.title %></td></tr>
      <tr><th>Author</th><td><%= book.author %></td></tr>
      <tr><th>Owned Since</th><td><%= book.owned_on %></td></tr>
      <tr><th>ISBN</th><td><%= book.isbn %></td></tr>
    </tbody>
  </table>
</section>
