<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section id="book-form" class="book">
    <table>
      <tbody>
        <tr>
          <th><%= form.label :title %></th>
          <td><%= form.text_field :title %></td>
        </tr>
        <tr>
          <th><%= form.label :author %></th>
          <td><%= form.text_field :author %></td>
        </tr>
        <tr>
          <th><%= form.label :isbn %></th>
          <td><%= form.text_field :isbn %></td>
        </tr>
        <tr>
          <th><%= form.label :owned_on %></th>
          <td><%= form.date_field :owned_on %></td>
        </tr>
        <tr>
          <th><%= form.label :notes %></th>
          <td><%= form.text_area :notes, rows: 5 %></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="actions">
    <%= form.submit %>
  </section>
<% end %>
