<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<section id="books">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Owned Since</th>
        <th>ISBN</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.owned_on %></td>
          <td><%= book.isbn %></td>
          <td><%= link_to "View", book %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= link_to "New book", new_book_path %>
