<% content_for :title, "#{@book.title} | Bookmark" %>

<h1><%= @book.title %></h1>

<section id="navigation">
  <%= link_to "Back to books", books_path %>
</section>

<section id="notice">
  <%= notice %>
</section>

<section id="options">
  <%= link_to "Edit book", edit_book_path(@book) %>
</section>

<%= render @book %>

<section id="secondary-options">
  <%= button_to "Delete book", @book, method: :delete, data: { confirm: "Are you sure you want to delete this book?" }, class: "delete" %>
</section>
